{% extends "index.html" %}
{% block content %}
  <h1> language detector </h1>
  <p>A language detection supports many languages</p>
  <h2>Features</h2>
  <p>Supported languages</p>
  <ul>
  <li>arabic</li>
<li>azeri</li>
<li>bengali</li>
<li>burmese</li>
<li>chinese</li>
<li>english</li>
<li>fresh</li>
<li>hausa</li>
<li>hindi</li>
<li>japanese</li>
<li>kinyarwanda</li>
<li>nepali</li>
<li>pashto</li>
<li>persion</li>
<li>pinyin</li>
<li>russian</li>
<li>sinhala</li>
<li>somali</li>
<li>spanish</li>
<li>swahili</li>
<li>tamil</li>
<li>turkish</li>
<li>ukrainian</li>
<li>uzbek</li>
<li>vietnamese</li>
</ul>
{% endblock %}
{% block scripts %}
{% endblock %}
